.updateMovie {
    width:50rem;
    border: solid 2px gray;
}

.updateMovie__title {
    margin-bottom: 0.2rem;
    color: #fff;
  
}

.updateMovie__form {
    display: flex;
    flex-direction: column;
    padding:1.5rem;
}

.updateMovie__form select {
    font-size: medium;
    margin-top: .8rem;
    padding: 1rem;
    border: solid 2px black;
}

.updateMovie__form input {
    margin-top: .8rem;
    font-size: medium;
    display: inline-block;
    height: 2rem;
    padding: 1rem;
    border: solid 2px black;
    
}

.updateMovie__form input[type=button] {
    background-color: rgb(113, 91, 69);
    color:#fff;
    border: none;
    padding-bottom: 2rem;

}

.updateMovie__form input[type=button]:hover{
    cursor: pointer; 
    background-color: rgb(56, 45, 35);
}
