<div class="updateMovie">
    <h4 class="updateMovie__title"># Ajouter un film</h4>
    <form class="updateMovie__form">
 
        <input required type="text" name="title" placeholder="Ajouter un titre">
        <input required type="text" name="real" placeholder="Ajouter un réalisateur">
        <input required type="number" name="year" placeholder="Ajouter la date de sortie du film">
        <input required type="number" name="duree" placeholder="Ajouter la durée du film en minutes">
        <input required type="text" name="desc" placeholder="Ajouter une description">
        <select name="cate">
            <option value="Action">Action</option>
                <option value="Aventure">Aventure</option>
                <option value="Drame">Drame</option>
                <option value="Science-fiction">Science-fiction</option>
                <option value="Horreur">Horreur</option>
                <option value="Comédie">Comédie</option>
                <option value="Thriller">Aventure</option>
                <option value="Fantaisie">Drame</option>
                <option value="Documentaire">Science-fiction</option>
                <option value="Animation">Horreur</option>
            </select>
        <input required type="text" name="img" placeholder="Ajouter une affiche">
        <input required type="text" name="url" placeholder="Ajouter l'URL du trailer">
        <input required type="number" name="age" placeholder="Ajouter une Limite d'âge">
        <input onclick="{{handler}}" type="button" value="Update" name="todo">

    </form>
</div>