
   <section class="filmcardslook" id="content">
      <ul class="filmcardslook">
          <img class="filmcardslook__affiche" src="https://mmi.unilim.fr/~borie54/SAE2.03-starter-project/server/images/{{image}}" alt="{{name}}">
          <li class="filmcardslook__titre">
            <h2>{{name}}</h2>
          </li>
          <li class="filmcardslook__real">{{real}}</li>
          <li class="filmcardslook__year">{{year}}</li>
          <li class="filmcardslook__duree">{{duree}}</li>
          <li class="filmcardslook__desc">{{desc}}</li>
          <li class="filmcardslook__cate">{{cate}}</li>
          <li class="filmcardslook__url">{{url}}</li>
          <li class="filmcardslook__age">{{age}}</li>
      </ul>
  </section>








