

  #content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 1rem 3rem;
    color: var(--color-fg);
    background-color: rgb(71, 71, 71);
 
  }
  
  .filmcard__affiche {
    overflow: hidden; 
    border-radius: 1rem;
  }
  
  .filmcards {
    max-height: 30rem;
    max-width: 20rem;
    display: flex;
    height: auto;
    position: relative;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  
  
  .filmcard__affiche:hover{
    transform: scale(1.05);
  }
  
  
  .filmcard__titre{
    color: var(--color-fg);
    font-family: var(--ff-sans);
    margin: 0;
    padding-bottom: 2rem;
    text-align: center;
  }