<div class="movie">
    <section class="movielist" id="content">
      <ul class="movielist">
          <img class="movielist__affiche" src="https://mmi.unilim.fr/~borie54/SAE2.03-starter-project/server/images/{{image}}" alt="{{name}}">
          <li class="movielist__titre">
              <h2>{{name}}</h2>
          </li>
      </ul>
  
  </section>
  
  <section class="movielist" id="content">
    <ul class="movielist">
        <img class="movielist__affiche" src="https://mmi.unilim.fr/~borie54/SAE2.03-starter-project/server/images/{{image}}" alt="{{name}}">
        <li class="movielist__titre">
            <h2>{{name}}</h2>
        </li>
    </ul>

</section>

<section class="movielist" id="content">
  <ul class="movielist">
      <img class="movielist__affiche" src="https://mmi.unilim.fr/~borie54/SAE2.03-starter-project/server/images/{{image}}" alt="{{name}}">
      <li class="movielist__titre">
          <h2>{{name}}</h2>
      </li>
  </ul>

</section>


<section class="movielist" id="content">
  <ul class="movielist">
      <img class="movielist__affiche" src="https://mmi.unilim.fr/~borie54/SAE2.03-starter-project/server/images/{{image}}" alt="{{name}}">
      <li class="movielist__titre">
          <h2>{{name}}</h2>
      </li>
  </ul>

</section>
</div>  